

.navbar {
    width: 100%;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.allitems {
    display: grid;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
}
.items{
    margin: 0 auto;
    width: 200px;
    height: 100px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 500ms;
}
#item1, .unselected1 {
    background-color: red;
    z-index: 1000;
}
#item2, .unselected2 {
    background-color: blue;
}
#item3, .unselected3 {
    background-color: yellow;
}
#item4, .unselected4 {
    background-color: black;
}
